/* GENERAL */
.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.Site-content {
  padding-top: 10px;
  flex: 1;
  /*position: relative;
  z-index:0 !important;*/
  
}

/* CONTACTO */
.contacto ul{
    width: 65px;
    padding-left: 0px;
    position: relative;
    overflow: hidden;
}

.contacto{
    position: absolute;
    top: auto;
}

.contacto li{
    list-style-type: none;
    padding: 10px;
    transition: .6s;
    color: whitesmoke;
    position: relative;
}

.contacto li i{
    font-size: 30px;
}

.contacto li:hover{
    padding: 10px 30px
}

.contacto li:nth-child(1){
    background: #3b5998;
}

.contacto li:nth-child(2){
    background: #5851db;
    background: -moz-linear-gradient(top,  #5851db 0%, #833ab4 27%, #833ab4 27%, #c13584 50%, #f77737 100%);
    background: -webkit-linear-gradient(top,  #5851db 0%,#833ab4 27%,#833ab4 27%,#c13584 50%,#f77737 100%);
    background: linear-gradient(to bottom,  #5851db 0%,#833ab4 27%,#833ab4 27%,#c13584 50%,#f77737 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5851db', endColorstr='#f77737',GradientType=0 );
}

.contacto li:nth-child(3){
    background: #cb2017;
}




/* ELEMENTOS DEL FOOTER */

footer{
    width:100%; 
    background-color: #CCC;
    padding:5px 0px 5px 0px ;
}

.footerSecciones{
    list-style-type:none;
    padding:0px; 
    display:table;
    margin: 5px auto;
    color: #1e1d1d;
}

.footer p{
    font-size: 12px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #333333;
}

.footerSecciones li{
    display: inline;
}

.footerSecciones li a{
    color:#1e1d1d; 
    margin:0 12px;
}

.footerSecciones li a:hover{
    color:#006699; 
    margin:0 12px;
    text-decoration: none;
}
